{{!-- inventory-object.html.hbs --}}
<div class="col-xs-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{name}}</h3>
    </div>
    <div class="panel-body">
      <img class='item img-responsive' src='{{image}}' />
      {{!-- {{renderMarkdown(text)}} --}}
      {{ text }}
    </div>
  </div>
</div>
