@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

body{
	background-color: black;
	font-family: 'Press Start 2P', cursive;
}
#image{
	padding:1px;
	border:1px dashed #eeeeee;
	background-color:#000000;
}
#inventory{
	border-style: double;
}
.panel-body{
	border-style: double;
}
.panel{
	border-style: double dashed;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-color: #eeeeee;
	color: #eeeeee;
	background-color: #444444;
}
p {
	font-family: 'Inconsolata', 400;
}
h1 {
	font-size: 16px;
}
h2 {
	font-size: 14px;
}
h3 {
	font-size: 12px;
}
a {
	text-align: left;
}
a:hover {
    color: #ff69b4;
    text-decoration: none;
}
@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
em {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
  -webkit-animation-duration: 1.5s;
}
