doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title.game-title loading...
    // the game requires bootstrap, jquery, and bootbox
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js')

    script(src='sidevalve.js')
    script(src='#{game}.js')
  body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          span.navbar-brand.game-title Cool Text Game

        #navbar
          ul.nav.navbar-nav
            // the `class="new-game"` makes this an active new-game link
            li
              a.new-game(href='#') New Game
            li
              a.change-name(href='#') Change Name
            li
              a.about-game(href='#') About

    section#game.container
      #alerts.col-xs-12
      // any img tag with the id `image` will have its `src` set by the game
      img#image.col-xs-6(src='#', alt='image')

      #game-text.col-xs-6
        .panel.panel-default
          .panel-heading
            // these <span> tags get filled in automatically by the game because of their classes
            h3.panel-title Hi #[span.current-player-name there]!

          .panel-body
            h2
              p Here you are in #[span.current-place-name some place]
            // this gets filled in with the place text
            #text

            h3 From here you can travel to:

            ul#destinations
              // don't put anything here
  // this script tag is necessary to start the game
  script.
    sidevalve = new Sidevalve();
    sidevalve.start(Game);

